:root{
  --bg: #A6550F; 
  --c1: #EDF2C9;
  --c2: #BF9649;
  --c3: #A6550F;
  --c4: #73330E;
  --c5: #401D15;
}
/*Garante que a página ocupe toda a altura da tela.*/
html, body {
  height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    place-items: center;
    background: var(--bg);
    font-family: "Playfair Display", serif;
    place-items: start center;
    padding: 24px;
    padding-top: 5px;
}

.title {
  display: inline-block;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 18px;
  font-size: clamp(36px, 8vw, 120px);
  letter-spacing: 0.2px;
  color: #EDF2C9;
}

.subtitle{
  text-align: center;
  display: block;       /* garante que ele ocupe uma linha inteira */
  color: var(--c1);
  font-size: clamp(12px, 2.2vw, 20px);
  font-weight: 400;
  opacity: 0.95;
  margin-top: 18px;
}

.botaoIniciar {
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.button-bagual {
  background-color: var(--c4);
  color: var(--c1);
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 14px 32px;
  border: 2px solid var(--c2);
  border-radius: 12px;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 4px 0 var(--c5);
}

/* Efeito ao passar o mouse */
.button-bagual:hover {
  background: var(--c2);
  color: var(--c5);
  transform: translateY(-3px);
  box-shadow: 0 6px 0 var(--c5);
}

/* Efeito ao clicar */
.button-bagual:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 var(--c5);
}

.botaoRank {
  display: flex;
  justify-content: center;
  margin-top: -225px;
}