<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Descoberta Da Palavra</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="card" role="banner" aria-labelledby="page-title">
        <h1 class="title title-lines"> Descoberta Da Palavra</h1>
        <div class="subtitle"><h2>Será que você consegue acertar?</h2></div>
    </div>
    <div class ="botaoIniciar">
        <a href="/jogar"> 
            <button class="button-bagual">INICIAR</button>
        </a>
    </div>
    <div class ="botaoRank">
        <a href="/rank"> 
            <button class="button-bagual">RANK</button>
        </a>
    </div>
</body>
</html>