<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&display=swap" rel="stylesheet">
<title>Jogo das Letras</title>
<link rel="stylesheet" href="../static/stylessjogar.css">

</style>
</head>
<body>
  <div class="card" role="banner" aria-labelledby="page-title">
  <h1 id="title"> Jogo das Letras</h1>
  </div>
  <div id="container">
    <div id="palavra">_ _ _ _ _ _ _ _</div>

    <div class="input-area">
      <label for="letra" class="Letras">Escolha uma letra:</label>
      <select id="letra"><option value="">--</option></select>

      <label for="posicao" class="posicao">Posição:</label>
      <select id="posicao"><option value="">--</option></select>

      <button id="tentar">Tentar</button>
    </div>

    <div class="input-area">
      <input type="text" id="chute" placeholder="Chute a palavra inteira">
      <button id="chutar">Chutar Palavra</button>
    </div>

    <div id="mensagem"></div>
    
  </div>
  <div id="tempo"> Tempo: 0</div>

<script src="../static/scriptjogar.js"></script>
</body>
</html>